.emacs.d/*

!.emacs.d/modules
!.emacs.d/*.el
!.emacs.d/banner.png

.emacs.d/.*

.config/*

!.config/awesome
!.config/compton.conf

!.config/greeter

.config/greeter/node_modules
.config/greeter/package-lock.json