.emacs.d/*

!.emacs.d/config.org
!.emacs.d/banner.png

.emacs.d/.*

.config/*

!.config/awesome
!.config/i3

!.config/compton.conf

!.config/greeter

.config/greeter/node_modules
.config/greeter/package-lock.json
